nav {
    &.navbar.navbar-light {
        z-index: 1;
        .container-fluid {
            .navbar-collapse {
                ul.navbar-nav {
                    li.nav-item {
                        a.nav-link {
                            margin-bottom: -8px;
                            padding-bottom: 8px;
                            font-size: 1.1em;
                            font-family: "Nunito", sans-serif;
                            &:hover,
                            &:active,
                            &:focus {
                                color: $primary;
                                border-bottom: 2px solid $primary;
                            }
                        }
                        &.active {
                            a.nav-link {
                                color: $primary;
                                border-bottom: 2px solid $primary;
                                
                                &:hover,
                                &:active,
                                &:focus {
                                    color: $primary;
                                    border-bottom: 2px solid $primary;
                                    margin-bottom: -8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
